@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.all-page
{
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:rgba(65, 131, 215, 0.4);
  height: 710px;
  border-radius: 3px;
}
.container{
    background-color: #e3f2fd;
 
   
}
           .body-content
           {
          
               margin-top: 50px;
           }
           
           .menu-left{
               float: left;
               width: 33%;
               padding-left: 10%;
               border-right:1px solid gray ;
               height: 550px;
              
           }
           .mid-content
           {
               float: left;
              width: 37%;
           }
         
           
           h5{
               margin-left: 30%;
           }
   
           .menu-right{
               float: right;
               width: 30%;
              padding-left: 4%;
              border-left:1px solid gray ;
               height: 550px;
              
           }
           .btn.btn-light{
               text-align: left;
               width: 200px;
               margin-top: 10px;
               margin-left:30% ;
           }
           .btn.btn-secondary{
               float: right;
               margin-right:15%;
           }
           
           .modal-header{
               background-color: #A9F5F2;
       
           }
           .logo img{
              
               width: 100px;
               height: 90px;
           }
           .logo{
               padding-left: 15%;
           }
           .modal-dialog{
               margin-top: 10px;
           }
         
          marquee{
           animation-duration: 3s;;
          
          }
          h5{
              width: 1000px;
              margin-left: -5px;
          }
        
          .modal-body input{
              margin-top: 10px;
          }
   
          
         /* sidebar */
         .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
   }
   
   .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 16px;
     color: #818181;
     display: block;
     transition: 0.3s;
   }
   
   .sidenav a:hover {
     color: #f1f1f1;
   }
   
   .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
   }
   
   @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 16px;}
   }
   .avatar{
       text-align: center;
   }
   .avatar img{
       width: 100px;
       height: 100px;
       align-items: center;
   }
   .btn-group button{
       background: none;
       border: none;
       outline: none;
       border-radius: 3px;
       color: blue;
   }
  
   
   