<%- include('../includes/header.ejs') %>
<link href="/css/formsignup.css" rel="stylesheet">


</head>
<body>
    <div class="container-fluid">
        <img class="background" src="https://i.postimg.cc/SKx8fQhM/pexels-bongkarn-thanyakij-3773413.jpg" alt="" />
        <div class="body">
            <div id="message">
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
            <div class="card text-center shadow-lg">
                <div class="card-header">SIGN UP</div>
                <form class="form-signup">
                    <div class="card-body">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend"> </div>
                        </div>
                        <div class="wrapper">
                            <div class="input-data">
                                <input type="text" id="email" name="email" required>
                                <div class="underlive"></div>
                                <label>Email address</label>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="input-data">
                                <input type="password" name="password" id="password"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                    required>
                                <div class="underlive"></div>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="input-data">
                                <input type="password" name="passwordConfirm" id="passwordConfirm" required>
                                <div class="underlive"></div>
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" value="submit">Sign up</button>
                </form>
                <p style="text-align: center;"><b>Or</b></p>

                <a href="https://accounts.google.com/" class="btn btn-light"><i style='font-size:20px;color:red'
                        class='fab'>&#xf1a0;</i>&nbsp;&nbsp; Continue with Google</a>
                <a href="https://www.facebook.com/" class="btn btn-light"><i style='font-size:20px;color: blue;'
                        class='fab'>&#xf09a;</i>&nbsp;&nbsp; Continue with Facebook</a><br>
                <div class="logo">
                    <a href="/home"><img src="/img/7b985146-096f-44b0-9a93-16db0048bfdb_200x200.png" width="70px" height="70px"></a>
                </div>
                <a class="card-footer text-muted">Do you have an account? Login!</a>
            </div>
        </div>
    </div>
    
    <%- include('../includes/script') %>
    <%- include('../includes/scriptcheckpsw') %>
    <%- include('../includes/footer') %>