<%- include('../includes/header.ejs') %>
<%- include('../includes/scripthead.ejs') %>
<style>
    img.background
{
    position:absolute;
    z-index: 1 !important;
    height: 100% !important;
    width: 100% !important;
    opacity: 0.8;
    
}

.card.text-center{
    position:absolute;
    z-index: 2 !important;
    width: 350px;
    height: 100%;
    text-align: center;
    margin:0px 0px 0px 200px;
    box-shadow: 10px 10px 8px 10px #000000;
    border-width: 5px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
   
}
.card-header{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    background-color: #A9F5F2;
}
.btn.btn-primary{
    width: 100%;
    background-color:#283593 ;
    
}

.card-footer.text-muted{
    color: blue !important;
}
p
{
    margin-top: 5px !important;
    color: blue;
}
.ctn-google
{
    display: flex;
    width: 90%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
    margin-left: 20px;
    border-bottom: 1px solid  #283593
}
.btn.btn-light{
    font-weight: bold;
    color: gray;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
.card-footer.text-muted{
    margin-top: 100px;
}

/* input */
.wrapper{
    width: 100%;
    background: #fff;
    padding: 30px;
    
}
.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    border-bottom: 2px solid silver;
}
.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition:all 0.3s ease;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 13px;
    color:#4158d0 ;
    
}
.wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background: red;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: red;
    transform: scaleX(0);
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
    transform: scaleX(1);
}
.logo{
    margin-top: -15px !important;
}
.btn.btn-success{
    width: 100%;
}


</style>
<body>
    <img class="background" src="https://i.postimg.cc/SKx8fQhM/pexels-bongkarn-thanyakij-3773413.jpg" alt="" />
    <div class="card text-center shadow-lg">
        <div class="card-header">SIGN UP</div>
        <div class="card-body">
            
            <div class="input-group input-group-lg">
                <div class="input-group-prepend"> </div>
            </div>

            <div class="wrapper">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underlive"></div>
                    <label>Email address</label>

                </div>
            </div>
            <div class="wrapper">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underlive"></div>
                    <label>Password</label>
                  
                </div>
            </div>
            <div class="wrapper">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underlive"></div>
                    <label>Confirm password</label>
                    
                </div>
            </div>
            <button type="button" class="btn btn-success" type="submit">Sign up</button>
      
            <p style="text-align: center;"><b>Or</b></p>

            <button class="btn btn-light" ><i style='font-size:20px;color:red' class='fab'>&#xf1a0;</i>&nbsp;&nbsp; Continue with Google</button>
            <button class="btn btn-light" ><i style='font-size:20px;color: blue;' class='fab'>&#xf09a;</i>&nbsp;&nbsp; Continue with Facebook</button><br>
            <div class="logo">
                <img src="/img/7b985146-096f-44b0-9a93-16db0048bfdb_200x200.png" width="100px" height="100px" >
            </div>
           </div> 
            
                <a class="card-footer text-muted" >Do you have an account? Login!</a>
</div>

            <%- include('../includes/scriptsend.ejs') %>
            <%- include('../includes/footer.ejs') %>
  
