<%- include('../includes/header.ejs') %>
<%- include('../includes/scripthead.ejs') %>


<link href="/css/formsignup.css" rel="stylesheet">



<body>
    <img class="background" src="https://i.postimg.cc/SKx8fQhM/pexels-bongkarn-thanyakij-3773413.jpg" alt="" />
    <div class="card text-center shadow-lg">
        <div class="card-header">SIGN UP</div>
        <div class="card-body">
            
            <div class="input-group input-group-lg">
                <div class="input-group-prepend"> </div>
            </div>

            <div class="wrapper">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underlive"></div>
                    <label>Email address</label>

                </div>
            </div>
            <div class="wrapper">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underlive"></div>
                    <label>Password</label>
                  
                </div>
            </div>
            <div class="wrapper">
                <div class="input-data">
                    <input type="text" required>
                    <div class="underlive"></div>
                    <label>Confirm password</label>
                    
                </div>
            </div>
            <button type="button" class="btn btn-success" type="submit">Sign up</button>
      
            <p style="text-align: center;"><b>Or</b></p>

            <button class="btn btn-light" ><i style='font-size:20px;color:red' class='fab'>&#xf1a0;</i>&nbsp;&nbsp; Continue with Google</button>
            <button class="btn btn-light" ><i style='font-size:20px;color: blue;' class='fab'>&#xf09a;</i>&nbsp;&nbsp; Continue with Facebook</button><br>
            <div class="logo">
                <img src="/img/7b985146-096f-44b0-9a93-16db0048bfdb_200x200.png" width="70px" height="70px" >
            </div>
           </div> 
            
                <a class="card-footer text-muted" >Do you have an account? Login!</a>
</div>

            <%- include('../includes/scriptsend.ejs') %>
            <%- include('../includes/footer.ejs') %>
  
