<%- include('../includes/header.ejs') %>
<%- include('../includes/scripthead.ejs') %>

<link href="/public/css/landingpage.css" rel="stylesheet">


<body>

<!--  <img class="background" src="../img/pexels-lukas-590041.jpg" height="100%" width="100%" alt="" /> -->
<div class="all">
<div class="navbar">
    <a href="#">
        <div class="logo"><img src="../img/7b985146-096f-44b0-9a93-16db0048bfdb_200x200.png" width="70%" /></div>
    </a> 
    <div class="option">
        <a href="formsignup.ejs"><button type="button" class="btn btn-info">Sign up</button></a>


        <button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        <div id="id01" class="modal">
          <form class="modal-content-nav animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
              <img src="../../public/img/noavatar.png" alt="Avatar" class="avatar">
            </div>
        
            <div class="container">
              <label for="uname"><b>Username</b></label>	
              <input type="text" placeholder="Enter Username" name="uname" required>
        
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
                
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
        
            <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
        </div>
    </div>

    

</div>
<div class="txtslogan">
    <div id="slogan1">Todolist giúp các nhóm làm việc có<br> tính hợp tác hơn và làm được nhiều hơn.<br></div>
    <div id="slogan2">Các bảng và danh sách và thẻ của Trello cho phép<br> các nhóm tổ chức và ưu tiên các dự án một cách vui vẻ<br> linh hoạt và xứng đáng.</div>

</div>


<div class="quick">
    <input class="form-control" placeholder="Email" type="text">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Đăng kí nhanh
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Quick registration with</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <input type="text" class="quich_pass" placeholder="Email">
                <input type="text" class="quich_pass" placeholder="Password">
                <input type="text" class="quich_pass" placeholder="Re-Password">
                <p style="text-align: center; color: blue;"><b>Or</b></p>
                <button class="btn btn-light" ><i style='font-size:20px;color:red' class='fab'>&#xf1a0;</i> Continue with Google</button>
                <button class="btn btn-light" ><i style='font-size:20px;color: blue;' class='fab'>&#xf09a;</i> Continue with Google</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Sign up</button>
            </div>
          </div>
        </div>
      </div>
</div>


</div>
<script>

var modal = document.getElementById('id01');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<%- include('../includes/scriptend.ejs') %>    
<%- include('../includes/footer.ejs') %>
  


   


