<div id="loader">
    <div class="circle">
        <div class="circle1"></div>
        <div class="circle2"></div><br>
    
        
    
    </div>
    <div class="loading">
        <div>
    <img src="/img/093f1861fc92b3a0ba497ece177b27e6.gif">
</div>
<div>
    <p ><h3 style="text-align: center;">Vui lòng chờ nhé...</h3></p>
</div>
</div>
</div>
