<%- include('../includes/header.ejs') %>
<%- include('../includes/scripthead.ejs') %>


<link href="/css/login.css" rel="stylesheet">

<body>

  <div class="blurred-box">

    <div class="user-login-box">
      <form class="form-login" >
        <div><img src="/img/hào.jpg" style="width: 50px;height: 50px;border-radius: 50%;"></span>
          <div class="hello">Xin chào!</div>
          <input class="user-password" type="text" id="email" placeholder="Email" />
          <input class="user-password" type="password" id="password" placeholder="Password" />
          <br>
          <span><button class="btn btn-secondary" type="submit">Login</button></span>
      </form>
    </div>
  </div>
</body>

<%- include('../includes/scriptsend.ejs') %>
<%- include('../includes/footer.ejs') %>